.jumbotron {
    background: url("../assests/images/background.jpg");
    background-size: cover;
    background: contain;
    background-position: 50% 50%;
    height: 400px;
}
.jumbotron-text {
    top: 350px;
    position: absolute;
}
.form-inline .form-control {
    width: 400px;
}

.user {
    display: flex;
    align-items: center;
}
.user i{
    margin-right: 1rem;
}
.user small{
    display: inline-block;
}

.input-field {
    position: relative;
    width: 250px;
    height: 44px;
    line-height: 44px;
  }
.input-field label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #d3d3d3;
    transition: 0.2s all;
    cursor: text;
  }
.input-field  input {
    width: 100%;
    border: 0;
    outline: 0;
    padding: 0.5rem 0;
    border-bottom: 2px solid #d3d3d3;
    box-shadow: none;
    color: #111;
  }
  
.input-field input:focus,
.input-field input:valid {
    border-color: black;
    }
.input-field input:focus~label,
.input-field input:valid~label {
    font-size: 14px;
    top: -24px;
    color: black;
    }
  